@CHARSET "UTF-8";

div.formItem textarea {
	max-width: 300px !important;
}

.filterListStyle span.filtered-span{
	width:6%!important;
}
.filterListStyle span.company-span{
	width:31%!important;
}

.filterListStyle>div:hover{
	background-color:#EEEEF5;
	cursor:pointer;
}

.users-table th{
	border-bottom:1px solid #E8E8F0;	
}

.users-table th, .users-table td{
	padding-right:2em;
	border:1px solid #E8E8F0;
	width:17%;
	word-wrap: break-word;
}
.users-table {
	border:1px solid #E8E8F0;	
}
.users-table tr:hover{
	background-color:rgb(232, 241, 252);
}